@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
nav {
  width: 100%;
  height: 75px;
  margin-top: 0px;
  background-color: #464950;
}

nav .nav-div {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

nav .nav-button {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

roadmap-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #313030;
  color: #fff;
  padding-top: 0px;
}

roadmap-page h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

roadmap-page .module-button {
  display: block;
  border-radius: 10px;
  height: 80px;
  width: 180px;
  background-color: #4854dc;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

roadmap-page .module-button:hover {
  background-color: #2c3598;
}

roadmap-page .module-button {
  font-weight: bold;
  height: 75%;
  border-radius: 8px;
  border-color: transparent;
}

roadmap-page .module-button-div {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

roadmap-page .module-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
  margin-top: 5%;
  width: 100%;
}

roadmap-page #row2 {
  margin-left: 43%;
  width: 35%;
  gap: 50px;
}

roadmap-page .module {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #2d2d2d;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform;
}

roadmap-page .module.shown {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

roadmap-page .module .exit-button {
  background: url("x_icon.png") no-repeat center center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

roadmap-page .module .module-header, roadmap-page .module .module-progress-text {
  text-align: center;
  margin-bottom: 10px;
}

roadmap-page .module .progress-bar {
  display: block;
  margin: 10px auto;
  width: 30%;
}

roadmap-page .module .progress-counter {
  text-align: center;
  margin-top: 0;
}

roadmap-page .module table {
  table-layout: fixed;
  width: 90%;
  margin: 50px auto;
  border-collapse: collapse;
}

roadmap-page .module th {
  text-align: left;
  padding-bottom: 15px;
}

roadmap-page .module td {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #515151;
}

roadmap-page .module tr {
  font-size: 16px;
}

roadmap-page .module input {
  margin: 0 10%;
}

roadmap-page .content .arrow {
  position: absolute;
  margin-top: 10px;
}

roadmap-page .content #arrow1 {
  left: 45%;
  -webkit-transform: rotate(-45deg) scale(5);
          transform: rotate(-45deg) scale(5);
}

roadmap-page .content #arrow2 {
  left: 53%;
  -webkit-transform: rotate(-135deg) scale(5);
          transform: rotate(-135deg) scale(5);
}

roadmap-page .content #arrow3 {
  left: 56%;
  -webkit-transform: rotate(-45deg) scale(5);
          transform: rotate(-45deg) scale(5);
}

roadmap-page .content #arrow4 {
  left: 63%;
  -webkit-transform: rotate(-135deg) scale(5);
          transform: rotate(-135deg) scale(5);
}

roadmap-page .content .hidden {
  display: none !important;
}

roadmap-page a {
  color: #fff;
}

.signup-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inter, Segoe UI, sans-serif;
  font-size: 12pt;
  color: #ececec;
  background-color: #1b1b1b;
  background-image: url(assets/signup_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.signup-page #sign-up-text {
  width: 240px;
  text-align: center;
}

.signup-page .form-wrapper {
  margin-left: 10%;
  margin-top: 7%;
  width: 20%;
  height: 50vh;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
  background-color: rgba(53, 53, 53, 0.75);
}

.signup-page .form-wrapper #login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
  width: 240px;
}

.signup-page .form-wrapper .input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-page .form-wrapper label {
  background-color: #219c36;
  height: 36px;
  width: 40px;
  padding: 5px 0;
  margin-bottom: 17px;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-page .form-wrapper input {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  margin-left: 0;
  height: 43px;
  font-family: Inter, Segoe UI, sans-serif;
  font-size: 12px;
  border-radius: 0 10px 10px 0px;
  border: none;
  background-color: #f7f7f7;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.signup-page .form-wrapper input:hover {
  border-top: 2px solid #219c36;
  border-bottom: 2px solid #219c36;
  border-right: 2px solid #219c36;
}

.signup-page .form-wrapper input:focus {
  outline: none;
  border: 2px;
  border-color: #219c36;
}

.signup-page .form-wrapper button {
  margin-top: 0px;
  border: none;
  border-radius: 100px;
  padding: 0.85em;
  background-color: #219c36;
  font-family: Inter, Segoe UI, sans-serif;
  color: #ececec;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.signup-page .form-wrapper button:hover {
  background-color: #166122;
}

.signup-page #already-have-an-account {
  margin: 30px 5%;
  width: 100%;
}

.signup-page #already-have-an-account a {
  text-decoration: none;
  color: #219c36;
}
/*# sourceMappingURL=styles.css.map */