nav {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 75px;
  margin-top: 0px;
  background-color: #464950;
}
nav .hidden {
  display: none;
}
nav .nav-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding-left: 20px;
  padding-right: 50px;
}
nav .nav-button {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
nav .signup-button {
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  padding: 0.85em;
  background-color: rgb(33, 156, 54);
  font-family: Inter, Segoe UI, sans-serif;
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 400ms ease;
  text-decoration: none;
}
nav .signup-button:hover {
  background-color: rgb(22, 97, 34);
}
nav .profile-button {
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: 100px;
}

body {
  margin: 0;
}

.roadmap-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #313030;
  color: #fff;
  padding-top: 0px;
  height: 100vh;
}
.roadmap-page h1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.roadmap-page .module-button {
  display: block;
  border-radius: 10px;
  height: 80px;
  width: 180px;
  background-color: rgb(72, 84, 220);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.roadmap-page .module-button:hover {
  background-color: rgb(44, 53, 152);
}
.roadmap-page .module-button {
  font-weight: bold;
  height: 75%;
  border-radius: 8px;
  border-color: transparent;
}
.roadmap-page .module-button-div {
  height: 80px;
  display: flex;
  justify-content: center;
}
.roadmap-page .module-row {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 5%;
  width: 100%;
}
.roadmap-page #row2 {
  margin-left: 43%;
  width: 35%;
  gap: 50px;
}
.roadmap-page .module {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #2d2d2d;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  will-change: transform;
}
.roadmap-page .module.shown {
  transform: translateX(0);
}
.roadmap-page .module .exit-button {
  background: url("x_icon.png") no-repeat center center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}
.roadmap-page .module .module-header, .roadmap-page .module .module-progress-text {
  text-align: center;
  margin-bottom: 10px;
}
.roadmap-page .module .progress-bar {
  display: block;
  margin: 10px auto;
  width: 30%;
}
.roadmap-page .module .progress-counter {
  text-align: center;
  margin-top: 0;
}
.roadmap-page .module table {
  table-layout: fixed;
  width: 90%;
  margin: 50px auto;
  border-collapse: collapse;
}
.roadmap-page .module th {
  text-align: left;
  padding-bottom: 15px;
}
.roadmap-page .module td {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #515151;
}
.roadmap-page .module tr {
  font-size: 16px;
}
.roadmap-page .module input {
  margin: 0 10%;
}
.roadmap-page .arrow {
  position: absolute;
  margin-top: 10px;
}
.roadmap-page #arrow1 {
  left: 45%;
  transform: rotate(-45deg) scale(5);
}
.roadmap-page #arrow2 {
  left: 53%;
  transform: rotate(-135deg) scale(5);
}
.roadmap-page #arrow3 {
  left: 56%;
  transform: rotate(-45deg) scale(5);
}
.roadmap-page #arrow4 {
  left: 63%;
  transform: rotate(-135deg) scale(5);
}
.roadmap-page .hidden {
  display: none !important;
}
.roadmap-page a {
  color: #fff;
}

.signup-page {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inter, Segoe UI, sans-serif;
  font-size: 12pt;
  color: rgb(236, 236, 236);
  background-color: rgb(27, 27, 27);
  background-image: url(assets/signup_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.signup-page #sign-up-text {
  width: 240px;
  text-align: center;
}
.signup-page #error-message {
  width: 240px;
  color: red;
  text-align: center;
}
.signup-page .form-wrapper {
  margin-left: 10%;
  margin-top: 7%;
  width: 20%;
  height: 50vh;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
  background-color: rgba(53, 53, 53, 0.75);
}
.signup-page .form-wrapper #signup-form {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
  width: 240px;
}
.signup-page .form-wrapper .input-div {
  display: flex;
  align-items: center;
}
.signup-page .form-wrapper label {
  background-color: rgb(33, 156, 54);
  height: 36px;
  width: 40px;
  padding: 5px 0;
  margin-bottom: 17px;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
}
.signup-page .form-wrapper input {
  transform: translateY(-9px);
  margin-left: 0;
  height: 43px;
  font-family: Inter, Segoe UI, sans-serif;
  font-size: 12px;
  border-radius: 0 10px 10px 0px;
  border: none;
  background-color: rgb(247, 247, 247);
  transition: 100ms ease;
}
.signup-page .form-wrapper input:hover {
  border-top: 2px solid rgb(33, 156, 54);
  border-bottom: 2px solid rgb(33, 156, 54);
  border-right: 2px solid rgb(33, 156, 54);
}
.signup-page .form-wrapper input:focus {
  outline: none;
  border: 2px;
  border-color: rgb(33, 156, 54);
}
.signup-page .form-wrapper button {
  margin-top: 0px;
  border: none;
  border-radius: 100px;
  padding: 0.85em;
  background-color: rgb(33, 156, 54);
  font-family: Inter, Segoe UI, sans-serif;
  color: rgb(236, 236, 236);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 400ms ease;
}
.signup-page .form-wrapper button:hover {
  background-color: rgb(22, 97, 34);
}
.signup-page #already-have-an-account {
  margin: 30px 5%;
  width: 100%;
}
.signup-page #already-have-an-account a {
  text-decoration: none;
  color: rgb(33, 156, 54);
}
.signup-page #create-account a {
  text-decoration: none;
  color: rgb(33, 156, 54);
}/*# sourceMappingURL=styles.css.map */