<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Learning Roadmap</title>
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}" />
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-div">
            <a href="index.html" class="nav-button" id="roadmap-button">Roadmap</a>
            <a href="metronome.html" class="nav-button">Metronome</a>
            <a href="signup.html" class="signup-button">Sign in or Create an Account</a>
            <!-- TODO: Resources page? -->
            <!-- TODO: About page? -->
        </div>
        
    </nav>

    {% block body %}{% endblock %}
       
</body>
</html>