<!-- Roadmap Page -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Guitar Learning Roadmap</h1>

    
    <!-- Beginners Start Here  -->
    <div id="beginners-start-here" class="module-button-div">
        <button class="module-button">Beginners Start Here!</button>
    </div>
    <div id="beginners-start-here-sidebar" class="module">
        <button class="exit-button"></button>
        <h2 class="module-header">Beginners Start Here</h3>
        <h4 class="module-progress-text">Progress</h5>
        <table>
            <th>Title</th>
            <th>Video Length</th>
            <th>URL</th>

            {% for bsh_module in bsh_modules %}
                <tr>
                    <td>{{bsh_module.internal_title}}</td>
                    <td>{{bsh_module.length}} minutes</td>
                    <td><a href="{{bsh_module.url}}">{{bsh_module.url}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Arrow -->
     <div id="arrow-1" class="arrow">
        <svg width ="200" height="200" viewBox="0 0 100 100" overflow="visible">
            <defs>
                <marker id="arrowhead" markerWidth="6" markerHeight="6" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                    <polygon points="0 0, 6 3, 0 6" fill="white" />
                </marker>
            </defs>

            <path d="M80, 10 C80, 50 40, 70 10, 90" stroke="white" fill="transparent" stroke-width="3" marker-end="url(#arrowhead)" transform="scale(0.5)" />
        </svg>
     </div>
     
</div>

<script src="{{ url_for('static', filename='roadmap_script.js') }}"></script>
{% endblock %}