<!-- Roadmap Page -->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Guitar Learning Roadmap</h1>

    
    <!-- Beginners Start Here  -->
    <div id="beginners-start-here" class="module">
        <button class="module-button">Beginners Start Here!</button>
    </div>
    <div id="beginners-start-here-sidebar" class="hidden module">
        <h2 class="module-header">Beginners Start Here</h3>
        <h4 class="module-progress-text">Progress</h5>
        <table>
            <th>Title</th>
            <th>Video Length</th>
            <th>URL</th>

            {% for bsh_module in bsh_modules %}
                <tr>
                    <td>{{bsh_module.internal_title}}</td>
                    <td>{{bsh_module.length}} minutes</td>
                    <td><a href="{{bsh_module.url}}">{{bsh_module.url}}</a></td>
                </tr>
            {% endfor %}
        </table>
        

    </div>

</div>

<script src="{{ url_for('static', filename='roadmap_script.js') }}"></script>
{% endblock %}